body {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    color: black;
    user-select: none;
}

.card.main-1>.card-header,
.card.main-2>.card-header,
.card.main-3>.card-header {
    color: rgba(253, 184, 19, 1);
    font-weight: bold;
    background-color: rgba(31, 31, 64, 1);
}

.card.main-1>.card-body,
.card.main-2>.card-body,
.card.main-3>.card-body {
    font-weight: bold;
    color: rgba(31, 31, 64, 1);
}

table {
    color: black;
}

.modal-content {
    color: black;
}

#dropdown04 {
    color: white;
}

#sidebar-wrapper>.sidebar-header {
    text-align: center;
    grid-area: header;
}

#sidebar-wrapper>.sidebar-body {
    text-align: center;
    margin-top: 30%;
    grid-area: body;
}

#sidebar-wrapper>.sidebar-footer {
    text-align: center;
    grid-area: footer;
}

#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    background: rgba(31, 31, 64, 1);
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-areas:
        "header"
        "body";
}

#page-content-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .5s;
}


#wrapper.menuDisplayed #sidebar-wrapper {
    width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 250px;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
    transition: all .5s;
    width: 100%;
    text-align: center;
}

.sidebar-nav li {
    line-height: 40px;
    width: 100%;
    transition: all .3s;
    padding: 10px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
}

.sidebar-nav li a:hover {
    color: rgba(253, 184, 19, 1);
}

.main-content {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
td,
th {

    font-family: 'Roboto Mono', 'Kanit';
}

td {
    font-weight: bold;
    color: rgba(31, 31, 64, 1);
}

li>a[aria-expanded="true"].navbar-toggler {
    color: rgba(253, 184, 19, 1);
}

#informationtag {
    color: rgba(31, 31, 64, 1);
}

#informationtag:hover {
    color: rgba(253, 184, 19, 1);
}

#gear1 {
    color: rgba(31, 31, 64, 1);
}

#gear1:hover {
    color: rgba(253, 184, 19, 1);
}

#gear1:hover>i {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

::-webkit-scrollbar {
    width: 10px;
    background: rgba(31, 31, 64, 1);
    ;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(253, 184, 19, 1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(253, 184, 19, 1);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(253, 184, 19, 0.8);
}