<div id="modaladdsj" class="modal fade" role="dialog" align="start">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: rgba(0, 0, 64, 1);color:rgba(253, 184, 19, 1)" ;>
                <h4 class="modal-title">แบบฟอร์มเพิ่มรายวิชา</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="/addnewsj" method="POST">
                    <div class="form-group">
                        <label for="sel1">คณะ:</label>
                        <select class="form-control" id="sel1" name="faculty">
                            {% for getfac in shfaculty2%}
                            <option>{{getfac['fac_name']}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>รหัสวิชา:</label>
                        <input type="text" class="form-control" name="sj_id" value="" maxlength="6"
                            style="text-transform:uppercase" require>
                    </div>
                    <div class="form-group">
                        <label>ชื่อวิชา:</label>
                        <input type="text" class="form-control" name="sj_name" value="" require>
                    </div>
                    <div class="form-group">
                        <label for="sel2">วันที่:</label>
                        <select class="form-control" id="sel2" name="day">
                            {% with days = ['วันจันทร์','วันอังคาร','วันพุธ','วันพฤหัสบดี','วันศุกร์','วันเสาร์','วันอาทิตย์'] %}
                            {% for day in days %}
                            <option>{{day}}</option>
                            {% endfor %}
                            {% endwith %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>เวลาเริ่มเรียน:</label>
                        <select class="form-control" id="sel2" name="startime">
                            {% for num in range(0,24) %}
                            <option>{{num}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label>เวลาเลิกเรียน:</label>
                        <select class="form-control" id="sel2" name="endtime">
                            {% for num in range(0,24) %}
                            <option>{{num}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-warning btn-lg" type="submit">เพิ่ม</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>