<div id="modaleditsj{{data['sj_id']}}" class="modal fade" role="dialog" align="start">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header"
                                                style="background-color: rgba(0, 0, 64, 1);color:rgba(253, 184, 19, 1)"
                                                ;>
                                                <h4 class="modal-title">แบบฟอร์มจัดการรายวิชา</h4>
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/updatesjdata" method="POST">
                                                    <div class="form-group">
                                                        <label for="sel1">คณะ:</label>
                                                        <select class="form-control" id="sel1" name="faculty">
                                                            <option>{{data['fac_name']}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>รหัสวิชา:</label>
                                                        <input type="hidden" class="form-control" name="oldsj_id"
                                                            value="{{data['sj_id']}}" style="text-transform:uppercase">
                                                        <input type="text" class="form-control" name="sj_id"
                                                            value="{{data['sj_id']}}" maxlength="6"
                                                            style="text-transform:uppercase" require>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>ชื่อวิชา:</label>
                                                        <input type="text" class="form-control" name="sj_name"
                                                            value="{{getsjdetail['sj_name']}}" require>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sel2">วันที่:</label>
                                                        <select class="form-control" id="sel2" name="day">
                                                            {% with datedic = {'Mon':'วันจันทร์','Tue':'วันอังคาร','Wed':'วันพุธ','Thu':'วันพฤหัสบดี','Fri':'วันศุกร์','Sat':'วันเสาร์','Sun':'วันอาทิตย์'}  %}
                                                            {% for k,v in datedic.items()  %}
                                                            {% if getsjdetail['sj_date'] == k %}
                                                            <option selected hidden>{{v}}</option>
                                                            {% else %}
                                                            <option>{{v}}</option>
                                                            {% endif %}
                                                            {% endfor %}
                                                            {% endwith %}
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>เวลาเริ่มเรียน:</label>
                                                        <select class="form-control" id="sel2" name="startime">
                                                            {% set splistarttime = getsjdetail['sj_StartTime'].split('.')  %}
                                                            {% for num in range(0,24) %}
                                                            {% if splistarttime[0] == num|string %}
                                                            <option selected hidden>{{num}}</option>
                                                            {% else %}
                                                            <option>{{num}}</option>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>เวลาเลิกเรียน:</label>
                                                        <select class="form-control" id="sel2" name="endtime">
                                                            {% set splifinishtime = getsjdetail['sj_FinishTime'].split('.')  %}
                                                            {% for num in range(0,24) %}
                                                            {% if splifinishtime[0] == num|string %}
                                                            <option selected hidden>{{num}}</option>
                                                            {% else %}
                                                            <option>{{num}}</option>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <button class="btn btn-outline-warning btn-lg"
                                                            type="submit">แก้ไข</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <form action="/deletesj" method="POST">
                                                    <input type="hidden" class="form-control" name="sj_id"
                                                        value="{{data['sj_id']}}">
                                                    <button type="submit" class="btn btn-outline-danger btn-xs"
                                                        onclick="return confirm('คุณต้องการลบวิชานี้หรือไม่?')">ลบวิชาเรียน</button>
                                                </form>
                                                <button type="button" class="btn btn-outline-danger"
                                                    data-dismiss="modal">ปิด</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>