<div class="footer" style="bottom:0;" id="footer">
    <div style="width: 100%;height:20px;background-color:rgba(253, 184, 19, 1);text-align:center;">
        <!-- <a href="#top">BACK</a> -->
    </div>
    <div
        style="text-align: right;position: fixed;z-index:2;top: 0;width: auto;right: 1%;cursor: pointer;line-height: 0;display:block !important;">
        <div class="row" style="color:rgba(0,0,0,0.5);">
            <!-- <div class="time-clock col-6" data-toggle="tooltip1" id="clock">
                            <h3> <i class="far fa-clock"></i></h3>
                        </div> -->
            <!-- <div class="col-6">
                            <h3 id="clock" style="font-size: 1.5rem;font-weight:bold;">
                                <p class=" spinner-grow spinner-grow-sm text-warning"></p>
                            </h3>
                        </div> -->

        </div>
    </div>
</div>