<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{ url_for('static', filename='img/icon.webp') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">
    <!-- css and script -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pagestyle.css') }}">
    <title>ระบบจัดการ</title>

    <!-- font awesome -->
    <!-- <script rel="preload" src="https://kit.fontawesome.com/ddbad6351c.js" crossorigin="anonymous"></script> -->
</head>

<body id="root">
    <!-- loadding page -->
    {% include 'loadingpage.html' %}
    <!-- content wrapper -->
    <div id="wrapper" class="menuSubDisplayed" style="overflow:hidden;">
        <!-- <div id="wrapper" class="menuDisplayed" style="overflow:hidden;"> -->
        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="overflow:hidden;z-index:3;">
            {% include 'sidebar.html' %}
        </div>
        <!-- body content -->
        <div id="page-content-wrapper" style="overflow:auto;">
            <!-- main top zone -->
            <div class="main-zone1">
                <!-- alert -->
                {% include 'aleart.html' %}
                <!-- top logo  -->
                <div class="container w3-animate-opacity" align="center" id="main-logo-image">
                    <img class="lazy" data-src="{{ url_for('static', filename='img/logo.webp') }}" alt="">
                    <noscript>
                        <img src="{{ url_for('static', filename='img/logo.webp') }}" alt="">
                    </noscript>
                </div>
            </div>
            <!-- main content -->
            <div class="main-content" style="margin-top: 1%;overflow:hidden;">
                <!-- navigation bar -->
                {% include 'navbar.html' %}
                <!-- form add student -->
                {% include 'addstd.html' %}
                <!-- add faculty and branch -->
                {% include 'addfac_br.html' %}
                <!-- sub content -->
                {% include 'subcontent.html' %}
                <div class="row" id="mian-container">
                    <!-- left side detail -->
                    <div class="col-8" style="padding:0;left:1.8%;" id="main-left-content">
                        <div class="w3-animate-opacity" id="student-table-container">
                            <!-- table student -->
                            {% include 'studenttable.html' %}
                        </div>
                    </div>
                    <!-- right side detail -->
                    <div class="col-4" style="padding: 0%;" id="main-right-content">
                        <div class="row">
                            <!-- subject list -->
                            {% include 'listsj.html' %}
                            <!-- faculty list -->
                            {% include 'faclist.html' %}
                        </div>
                    </div>
                </div>
                {% include 'attendancetable.html' %}
            </div>
            <br>

            <br>
            <div class="secure-zone" style="display:none;">
                {% include 'securepage.html' %}
            </div>
            <br>
            <!-- footer -->
            <!-- {% include 'footer.html' %} -->
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/myscript.js') }}"></script>
<script src="{{ url_for('static', filename='js/loading.js') }}"></script>
<script async src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.4.0/dist/lazyload.min.js"></script>

<script>
    window.lazyLoadOptions = {
        elements_selector: '.lazy'
    }
</script>
<script>
    $(document).ready(() => {
        fetchsj()
        fetchcurrentuser()
        fetchuserdata()
        $('#update-this-data').on('click', () => {
            $.ajax({
                url: "/updateadmindata",
                type: "POST",
                data: {
                    "currentuser": $('#fetch-username').text(),
                    "currentpass": $('#c_password').val(),
                    "newpassword": $('#n_password').val(),
                },
                success: (data) => {
                    let currentcounttime = 5
                    console.log(data.result)
                    $('#update-admin-data-table').fadeOut(1000)
                    $('#update-this-data').fadeOut(1000)
                    $('#cancel-this-data').fadeOut(1000)
                    setTimeout(() => {
                        $('#edit-this-data').fadeIn(1000)
                        $('#admin-data-table').fadeIn(1000)
                        if (data.stat == "danger") {
                            $('#result-stat').css({
                                color: "red"
                            })
                            $('#result-stat').text(data.result).fadeIn(1000)
                            $('#fetch-username').text(data.username)
                            $('#fetch-password').text(data.password)
                            $('#fetch-status').text(data.status)
                            setTimeout(() => {
                                $('#result-stat').text(data.result).fadeOut(
                                    1000)
                            }, 2000)
                        } else {
                            $('#result-stat').css({
                                color: "green"
                            })
                            $('#result-stat').text(data.result).fadeIn(1000)
                            $('#fetch-username').text(data.username)
                            $('#fetch-password').text(data.password)
                            $('#fetch-status').text(data.status)
                            setTimeout(() => {
                                $('#result-stat').text(data.result).fadeOut(
                                    1000).text("").fadeIn(1000)
                                setInterval(() => {
                                    $('#result-stat').text(
                                        "Page reload in " +
                                        currentcounttime--)
                                    if (currentcounttime < 0) {
                                        location.reload();
                                    }
                                }, 1000)
                            }, 2000)
                        }


                    }, 1000)
                }
            })
        })
    });

    $('#edit-this-data').on('click', () => {
        $('#edit-this-data').fadeOut()
        $('#admin-data-table').fadeOut()
        $('#n_username').val($('#fetch-username').text())
        setTimeout(() => {
            $('#update-admin-data-table').fadeIn('slow')
            $('#update-this-data').fadeIn('slow')
            $('#cancel-this-data').fadeIn('slow')
        }, 300)

    })

    $('#cancel-this-data').on('click', () => {
        $('#update-this-data').fadeOut()
        $('#cancel-this-data').fadeOut()
        $('#update-admin-data-table').fadeOut()
        $('.update-admin-input').val("")
        setTimeout(() => {
            $('#admin-data-table').fadeIn('slow')
            $('#edit-this-data').fadeIn('slow')
        }, 300)
    })


    fetchcurrentuser = () => {
        $.ajax({
            url: '/fetchoneuser',
            type: 'POST',
            dataType: 'JSON',
            data: {
                "user": "{{session['username']}}"
            },
            success: (data) => {
                //console.log(data)
                $.each(data, (index, item) => {
                    /*console.log(item.username)
                    console.log(item.password)
                    console.log(item.status)*/
                    $('#fetch-username').text(item.username)
                    $('#fetch-password').text(item.password)
                    $('#fetch-status').text(item.status)
                    $('#fetch-login').text(item.login_time)
                    $('#fetch-logout').text(item.logout_time)
                });
            },
        })
    }

    fetchsj = () => {
        $.ajax({
            url: '/chksjlist',
            type: 'POST',
            data: 'json',
            success: (data) => {
                jpdata = JSON.parse(data)
                $("#list-sj-data").empty()
                if (jpdata != "") {
                    $.each(jpdata, (index, item) => {
                        $('<li class="list-group-item mylistchktable" id="' + item.sj_id +
                                '" onclick="shselectsjtable(this.id)">').text(
                                item.sj_id + ":" + item.sj_detail.sj_name).append($(
                                '</li>'))
                            .appendTo("#list-sj-data")
                    });
                } else {
                    $.each(jpdata, (index, item) => {
                        $('<li class="list-group-item mylistchktable">').text("NONE")
                            .append($(
                                '</li>')).appendTo("#list-sj-data")
                    });
                }
            },
        })
    }

    fetchuserdata = () => {
        $.ajax({
            url: '/fetchlistuser',
            type: 'POST',
            data: 'json',
            success: (data) => {
                jpdata = JSON.parse(data)
                $("#user-table-body").empty()
                if (jpdata != "") {
                    $.each(jpdata, (index, item) => {
                        if (item.username != "{{session['username']}}".toLowerCase()) {
                            $('<tr id="'+item.username+'"><td style="text-align:center;" id="'+item.username+'-id">' + item.username +
                                    '</td><td width="20" style="overflow:hidden;" id="'+item.username+'-password">' + item
                                    .password +
                                    '</td><td style="text-align:center;" id="'+item.username+'-status">' + item.status +
                                    '</td><td style="text-align:center;" id="'+item.username+'-button"><button class="thisBtnIsDeActive" onclick="senduserdatail(this.name)" name="' +
                                    item.username + ';' + item.password + ';' + item.status +
                                    '" id="update-user-data-btn" >แก้ไขข้อมูล</button></td></tr>'
                                )
                                .appendTo('#user-table-body')
                        }
                    });
                } else {
                    $('<h1>NONE</h1>').appendTo('#user-table-body')
                }

            },
        })
    }

    senduserdatail = (name) => {
        //console.log(name)
        $('#control-head-text').fadeOut(500)
        $('#user-table').fadeIn(500)
        $('#update-username').empty()
        $('#update-password').empty()
        $('#hidden-update-password').empty()
        $('#update-status').empty()
        let getresult = name.split(";")
        //console.log(getresult)
        $('#user-table-body').find('tr').find('td').find('.thisBtnIsActive').removeClass("thisBtnIsActive").addClass('thisBtnIsDeActive')
        $('#user-table-body').find('#'+getresult[0]).find('td').find('button').removeClass("thisBtnIsDeActive").addClass('thisBtnIsActive')
        $('#update-username').text(getresult[0])
        $('#hidden-update-password').val(getresult[1])
        $('#update-status').val(getresult[2])

    }

    $('#delete-this-user-data').on('click',()=>{
        $.ajax({
            url: "/deleteanotheruserdata",
            type: "POST",
            data: {
                "currentuser": $('#update-username').text(),
            },
            success: (data) => {
                $('#'+data.username).fadeOut(1000)
                $('#user-table').fadeOut(1000)
                setTimeout(()=>{
                    $('#control-head-text').find('h1').text(data.result)
                    $('#control-head-text').fadeIn(1000)
                    $('#'+data.username).text(data.result).fadeIn(1000)
                },1000)
                setTimeout(()=>{
                    $('#control-head-text').fadeOut(1000)
                    $('#'+data.username).fadeOut(1000)
                },2000)
                setTimeout(()=>{
                    $('#control-head-text').find('h1').text("กดที่ปุ่มแก้ไขข้อมูล")
                    $('#control-head-text').fadeIn(1000)
                    $('#user-table-body').remove('#'+data.username)
                },3000)
            }
        })
    })

    $('#update-user-data').on('click', () => {
        $.ajax({
            url: "/updateanotheruserdata",
            type: "POST",
            data: {
                "currentuser": $('#update-username').text(),
                "currentpass": $('#hidden-update-password').val(),
                "newpassword": $('#update-password').val(),
                "newstatus": $('#update-status').val(),
            },
            success: (data) => {
                //console.log(data)
                //console.log(data.username)
                //console.log(data.password)
                //console.log(data.status)
                $('#'+data.username).fadeOut(1000)
                $('#user-table').fadeOut(1000)
                setTimeout(()=>{
                    $('#control-head-text').find('h1').text(data.result)
                    $('#control-head-text').fadeIn(1000)
                    $('#'+data.username).text(data.result).fadeIn(1000)
                },1000)
                setTimeout(()=>{
                    $('#control-head-text').fadeOut(1000)
                    $('#'+data.username).fadeOut(1000)
                },2000)
                setTimeout(()=>{
                    $('#control-head-text').find('h1').text("กดที่ปุ่มแก้ไขข้อมูล")
                    $('#'+data.username).empty()
                    $('<td style="text-align:center;" id="'+data.username+'-id">' + data.username +
                        '</td><td width="20" style="overflow:hidden;" id="'+data.username+'-password">' + data.password +
                            '</td><td style="text-align:center;" id="'+data.username+'-status">' + data.status +
                        '</td><td style="text-align:center;" id="'+data.username+'-button"><button class="thisBtnIsActive" onclick="senduserdatail(this.name)" name="' +
                        data.username + ';' + data.password + ';' + data.status +
                        '" id="update-user-data-btn" >แก้ไขข้อมูล</button></td>').appendTo('#'+data.username)

                    let getresult = $("#"+data.username+"-button").find('button').attr('name').split(";")
                    $('#update-username').text(getresult[0])
                    $('#hidden-update-password').val(getresult[1])
                    $('#update-status').val(getresult[2])
                    $('#user-table').fadeIn(1000)
                    $('#'+data.username).fadeIn(1000)
                },3000)
            }
        })
    })
    
    $('#cancel-update-user-data').on('click', () => {
        $('#update-username').empty()
        $('#update-password').empty()
        $('#update-status').empty()
        $('#user-table').fadeOut(500)
        $('#control-head-text').find('h1').text("กดที่ปุ่มแก้ไขข้อมูล")
        $('#control-head-text').fadeIn(500)
        $('#user-table-body').find('tr').find('td').find('.thisBtnIsActive').removeClass("thisBtnIsActive").addClass('thisBtnIsDeActive')
    })


    $('#clearrighttable').on('click', () => {
        $(".grid-data-body").empty()
        $('#list-sj-data').find('.bgactive').removeClass("bgactive")
        $('<p id="selecttext" style="color:gray;margin-left:40%;margin-top:8%;font-size:5rem;display:none">เลือกวิชา</p>')
            .appendTo('.grid-data-body')
        $('#selecttext').fadeIn('slow')
    })

    $('.grid-id').mouseover(() => {
        $('.grid-id').css({
            color: "var(--main-color1)"
        })
    })
    $('.grid-id').mouseout(() => {
        $('.grid-id').css({
            color: "white"
        })
    })
    $('.grid-id').on("click", () => {
        if ($('.grid-id').find('h3').text() == "รหัสนิสิต") {
            $('.grid-id').empty()
            $('<h5>ชื่อ-นามสกุล</h5>').appendTo('.grid-id')
        } else {
            $('.grid-id').empty()
            $('<h3>รหัสนิสิต</h3>').appendTo('.grid-id')
        }
        sj = $('.grid-id').attr("value")
        shselectsjtable(sj)
    })

    let stdchecklist = (index, data, item) => {
        if (data.chk_status == "absent") {
            return $(
                '<i style="color:red;font-size:1.8rem;text-shadow:5px 0px 15px black;" class="fas fa-times"></i></h3>'
            ).appendTo("#text-" + index + "-" + item.st_id + "")
        } else if (data.chk_status == "late") {
            return $(
                '<i style="color:yellow;font-size:1.8rem;text-shadow:5px 0px 15px black;" class="fas fa-check"></i></h3>'
            ).appendTo("#text-" + index + "-" + item.st_id + "")
        } else if (data.chk_status == "-") {
            return $(
                '<i style="color:blue;font-size:1.8rem;text-shadow:5px 0px 15px black;" class="fas fa-times"></i></h3>'
            ).appendTo("#text-" + index + "-" + item.st_id + "")
        } else {
            return $(
                '<i style="color:greenyellow;font-size:1.8rem;text-shadow:5px 0px 15px black;" class="fas fa-check"></i></h3>'
            ).appendTo("#text-" + index + "-" + item.st_id + "")
        }
    }

    function shselectsjtable(sj) {
        console.log(sj)
        $('.grid-id').attr("value", sj)
        console.log("value:" + $('.grid-id').attr("value"))
        $('#list-sj-data').find('.bgactive').removeClass("bgactive")
        $('#list-sj-data').find('#' + sj).addClass("bgactive")
        $.ajax({
            url: '/stdsjchk',
            type: 'POST',
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                "data": sj
            }),
            success: (data) => {
                $(".grid-data-body").empty()
                if ($('.grid-id').find('h3').text() == "รหัสนิสิต") {
                    $.each(data, (index, item) => {
                        if (item.enroll.sj_enroll.sj_list.sj_1.sj_id == sj) {
                            //console.log(item.st_id)
                            $('<div class="sj-chklist" style="display:none"><div class="std-chkid"><h5 data-toggle="tooltip1" title="' +
                                item.f_name + ' ' + item.l_name + '">' +
                                item.st_id + '</h5></div><div class="std-sj-chklist" id="' +
                                item
                                .st_id + '">').appendTo(".grid-data-body")
                            $.each(item.enroll.sj_enroll.sj_list.sj_1.sj_chktime, (i, d) => {
                                $('<h3 id="text-' + i + "-" + item.st_id +
                                    '" data-toggle="tooltip1" title="วันที่เรียน: ' + d
                                    .learning_date + " เวลาเรียน: " + item.enroll
                                    .sj_enroll.sj_list.sj_1.sj_begin + "-" + item.enroll
                                    .sj_enroll.sj_list.sj_1.sj_finish + '">').appendTo(
                                    "#" +
                                    item.st_id +
                                    "")
                                stdchecklist(i, d, item)
                            })
                            $('</div></div>').appendTo(".grid-data-body")
                        }
                        if (item.enroll.sj_enroll.sj_list.sj_2.sj_id == sj) {
                            //console.log(item.st_id)
                            $('<div class="sj-chklist" style="display:none"><div class="std-chkid"><h5 data-toggle="tooltip1" title="' +
                                item.f_name + ' ' + item.l_name + '">' +
                                item.st_id + '</h5></div><div class="std-sj-chklist" id="' +
                                item
                                .st_id + '">').appendTo(".grid-data-body")
                            $.each(item.enroll.sj_enroll.sj_list.sj_2.sj_chktime, (i, d) => {
                                $('<h3 id="text-' + i + "-" + item.st_id +
                                    '" data-toggle="tooltip1" title="วันที่เรียน: ' + d
                                    .learning_date + " เวลาเรียน: " + item.enroll
                                    .sj_enroll.sj_list.sj_2.sj_begin + "-" + item.enroll
                                    .sj_enroll.sj_list.sj_2.sj_finish + '">').appendTo(
                                    "#" +
                                    item.st_id +
                                    "")
                                stdchecklist(i, d, item)
                            })
                            $('</div></div>').appendTo(".grid-data-body")
                        }
                        if (item.enroll.sj_enroll.sj_list.sj_3.sj_id == sj) {
                            //console.log(item.st_id)
                            $('<div class="sj-chklist" style="display:none"><div class="std-chkid"><h5 data-toggle="tooltip1" title="' +
                                item.f_name + ' ' + item.l_name + '">' +
                                item.st_id + '</h5></div><div class="std-sj-chklist" id="' +
                                item
                                .st_id + '">').appendTo(".grid-data-body")
                            $.each(item.enroll.sj_enroll.sj_list.sj_3.sj_chktime, (i, d) => {
                                $('<h3 id="text-' + i + "-" + item.st_id +
                                    '" data-toggle="tooltip1" title="วันที่เรียน: ' + d
                                    .learning_date + " เวลาเรียน: " + item.enroll
                                    .sj_enroll.sj_list.sj_3.sj_begin + "-" + item.enroll
                                    .sj_enroll.sj_list.sj_3.sj_finish + '">').appendTo(
                                    "#" +
                                    item.st_id +
                                    "")
                                stdchecklist(i, d, item)
                            })
                            $('</div></div>').appendTo(".grid-data-body")
                        }
                        if (item.enroll.sj_enroll.sj_list.sj_4.sj_id == sj) {
                            //console.log(item.st_id)
                            $('<div class="sj-chklist" style="display:none"><div class="std-chkid"><h5 data-toggle="tooltip1" title="' +
                                item.f_name + ' ' + item.l_name + '">' +
                                item.st_id + '</h5></div><div class="std-sj-chklist" id="' +
                                item
                                .st_id + '">').appendTo(".grid-data-body")
                            $.each(item.enroll.sj_enroll.sj_list.sj_4.sj_chktime, (i, d) => {
                                $('<h3 id="text-' + i + "-" + item.st_id +
                                    '" data-toggle="tooltip1" title="วันที่เรียน: ' + d
                                    .learning_date + " เวลาเรียน: " + item.enroll
                                    .sj_enroll.sj_list.sj_4.sj_begin + "-" + item.enroll
                                    .sj_enroll.sj_list.sj_4.sj_finish + '">').appendTo(
                                    "#" +
                                    item.st_id +
                                    "")
                                stdchecklist(i, d, item)
                            })
                            $('</div></div>').appendTo(".grid-data-body")
                        }
                        if (item.enroll.sj_enroll.sj_list.sj_5.sj_id == sj) {
                            //console.log(item.st_id)
                            $('<div class="sj-chklist" style="display:none"><div class="std-chkid"><h5 data-toggle="tooltip1" title="' +
                                item.f_name + ' ' + item.l_name + '">' +
                                item.st_id + '</h5></div><div class="std-sj-chklist" id="' +
                                item
                                .st_id + '">').appendTo(".grid-data-body")
                            $.each(item.enroll.sj_enroll.sj_list.sj_5.sj_chktime, (i, d) => {
                                $('<h3 id="text-' + i + "-" + item.st_id +
                                    '" data-toggle="tooltip1" title="วันที่เรียน: ' + d
                                    .learning_date + " เวลาเรียน: " + item.enroll
                                    .sj_enroll.sj_list.sj_5.sj_begin + "-" + item.enroll
                                    .sj_enroll.sj_list.sj_5.sj_finish + '">').appendTo(
                                    "#" +
                                    item.st_id +
                                    "")
                                stdchecklist(i, d, item)
                            })
                            $('</div></div>').appendTo(".grid-data-body")
                        }
                        if (item.enroll.sj_enroll.sj_list.sj_6.sj_id == sj) {
                            //console.log(item.st_id)
                            $('<div class="sj-chklist" style="display:none"><div class="std-chkid"><h5 data-toggle="tooltip1" title="' +
                                item.f_name + ' ' + item.l_name + '">' +
                                item.st_id + '</h5></div><div class="std-sj-chklist" id="' +
                                item
                                .st_id + '">').appendTo(".grid-data-body")
                            $.each(item.enroll.sj_enroll.sj_list.sj_6.sj_chktime, (i, d) => {
                                $('<h3 id="text-' + i + "-" + item.st_id +
                                    '" data-toggle="tooltip1" title="วันที่เรียน: ' + d
                                    .learning_date + " เวลาเรียน: " + item.enroll
                                    .sj_enroll.sj_list.sj_6.sj_begin + "-" + item.enroll
                                    .sj_enroll.sj_list.sj_6.sj_finish + '">').appendTo(
                                    "#" +
                                    item.st_id +
                                    "")
                                stdchecklist(i, d, item)
                            })
                            $('</div></div>').appendTo(".grid-data-body")
                        }
                        if (item.enroll.sj_enroll.sj_list.sj_7.sj_id == sj) {
                            //console.log(item.st_id)
                            $('<div class="sj-chklist" style="display:none"><div class="std-chkid"><h5 data-toggle="tooltip1" title="' +
                                item.f_name + ' ' + item.l_name + '">' +
                                item.st_id + '</h5></div><div class="std-sj-chklist" id="' +
                                item
                                .st_id + '">').appendTo(".grid-data-body")
                            $.each(item.enroll.sj_enroll.sj_list.sj_7.sj_chktime, (i, d) => {
                                $('<h3 id="text-' + i + "-" + item.st_id +
                                    '" data-toggle="tooltip1" title="วันที่เรียน: ' + d
                                    .learning_date + " เวลาเรียน: " + item.enroll
                                    .sj_enroll.sj_list.sj_7.sj_begin + "-" + item.enroll
                                    .sj_enroll.sj_list.sj_7.sj_finish + '">').appendTo(
                                    "#" +
                                    item.st_id +
                                    "")
                                stdchecklist(i, d, item)
                            })
                            $('</div></div>').appendTo(".grid-data-body")
                        }
                    })
                } else {
                    $.each(data, (index, item) => {
                        if (item.enroll.sj_enroll.sj_list.sj_1.sj_id == sj) {
                            //console.log(item.st_id)
                            $('<div class="sj-chklist" style="display:none"><div class="std-chkid"><h6 data-toggle="tooltip1" title="' +
                                item.st_id + '">' + item.f_name + ' ' + item.l_name +
                                '</h6></div><div class="std-sj-chklist" id="' + item
                                .st_id + '">').appendTo(".grid-data-body")
                            $.each(item.enroll.sj_enroll.sj_list.sj_1.sj_chktime, (i, d) => {
                                $('<h3 id="text-' + i + "-" + item.st_id +
                                    '" data-toggle="tooltip1" title="วันที่เรียน: ' + d
                                    .learning_date + " เวลาเรียน: " + item.enroll
                                    .sj_enroll.sj_list.sj_1.sj_begin + "-" + item.enroll
                                    .sj_enroll.sj_list.sj_1.sj_finish + '">').appendTo(
                                    "#" +
                                    item.st_id +
                                    "")
                                stdchecklist(i, d, item)
                            })
                            $('</div></div>').appendTo(".grid-data-body")
                        }
                        if (item.enroll.sj_enroll.sj_list.sj_2.sj_id == sj) {
                            //console.log(item.st_id)
                            $('<div class="sj-chklist" style="display:none"><div class="std-chkid"><h6 data-toggle="tooltip1" title="' +
                                item.st_id + '">' + item.f_name + ' ' + item.l_name +
                                '</h6></div><div class="std-sj-chklist" id="' + item
                                .st_id + '">').appendTo(".grid-data-body")
                            $.each(item.enroll.sj_enroll.sj_list.sj_2.sj_chktime, (i, d) => {
                                $('<h3 id="text-' + i + "-" + item.st_id +
                                    '" data-toggle="tooltip1" title="วันที่เรียน: ' + d
                                    .learning_date + " เวลาเรียน: " + item.enroll
                                    .sj_enroll.sj_list.sj_2.sj_begin + "-" + item.enroll
                                    .sj_enroll.sj_list.sj_2.sj_finish + '">').appendTo(
                                    "#" +
                                    item.st_id +
                                    "")
                                stdchecklist(i, d, item)
                            })
                            $('</div></div>').appendTo(".grid-data-body")
                        }
                        if (item.enroll.sj_enroll.sj_list.sj_3.sj_id == sj) {
                            //console.log(item.st_id)
                            $('<div class="sj-chklist" style="display:none"><div class="std-chkid"><h6 data-toggle="tooltip1" title="' +
                                item.st_id + '">' + item.f_name + ' ' + item.l_name +
                                '</h6></div><div class="std-sj-chklist" id="' + item
                                .st_id + '">').appendTo(".grid-data-body")
                            $.each(item.enroll.sj_enroll.sj_list.sj_3.sj_chktime, (i, d) => {
                                $('<h3 id="text-' + i + "-" + item.st_id +
                                    '" data-toggle="tooltip1" title="วันที่เรียน: ' + d
                                    .learning_date + " เวลาเรียน: " + item.enroll
                                    .sj_enroll.sj_list.sj_3.sj_begin + "-" + item.enroll
                                    .sj_enroll.sj_list.sj_3.sj_finish + '">').appendTo(
                                    "#" +
                                    item.st_id +
                                    "")
                                stdchecklist(i, d, item)
                            })
                            $('</div></div>').appendTo(".grid-data-body")
                        }
                        if (item.enroll.sj_enroll.sj_list.sj_4.sj_id == sj) {
                            //console.log(item.st_id)
                            $('<div class="sj-chklist" style="display:none"><div class="std-chkid"><h6 data-toggle="tooltip1" title="' +
                                item.st_id + '">' + item.f_name + ' ' + item.l_name +
                                '</h6></div><div class="std-sj-chklist" id="' + item
                                .st_id + '">').appendTo(".grid-data-body")
                            $.each(item.enroll.sj_enroll.sj_list.sj_4.sj_chktime, (i, d) => {
                                $('<h3 id="text-' + i + "-" + item.st_id +
                                    '" data-toggle="tooltip1" title="วันที่เรียน: ' + d
                                    .learning_date + " เวลาเรียน: " + item.enroll
                                    .sj_enroll.sj_list.sj_4.sj_begin + "-" + item.enroll
                                    .sj_enroll.sj_list.sj_4.sj_finish + '">').appendTo(
                                    "#" +
                                    item.st_id +
                                    "")
                                stdchecklist(i, d, item)
                            })
                            $('</div></div>').appendTo(".grid-data-body")
                        }
                        if (item.enroll.sj_enroll.sj_list.sj_5.sj_id == sj) {
                            //console.log(item.st_id)
                            $('<div class="sj-chklist" style="display:none"><div class="std-chkid"><h6 data-toggle="tooltip1" title="' +
                                item.st_id + '">' + item.f_name + ' ' + item.l_name +
                                '</h6></div><div class="std-sj-chklist" id="' + item
                                .st_id + '">').appendTo(".grid-data-body")
                            $.each(item.enroll.sj_enroll.sj_list.sj_5.sj_chktime, (i, d) => {
                                $('<h3 id="text-' + i + "-" + item.st_id +
                                    '" data-toggle="tooltip1" title="วันที่เรียน: ' + d
                                    .learning_date + " เวลาเรียน: " + item.enroll
                                    .sj_enroll.sj_list.sj_5.sj_begin + "-" + item.enroll
                                    .sj_enroll.sj_list.sj_5.sj_finish + '">').appendTo(
                                    "#" +
                                    item.st_id +
                                    "")
                                stdchecklist(i, d, item)
                            })
                            $('</div></div>').appendTo(".grid-data-body")
                        }
                        if (item.enroll.sj_enroll.sj_list.sj_6.sj_id == sj) {
                            //console.log(item.st_id)
                            $('<div class="sj-chklist" style="display:none"><div class="std-chkid"><h6 data-toggle="tooltip1" title="' +
                                item.st_id + '">' + item.f_name + ' ' + item.l_name +
                                '</h6></div><div class="std-sj-chklist" id="' + item
                                .st_id + '">').appendTo(".grid-data-body")
                            $.each(item.enroll.sj_enroll.sj_list.sj_6.sj_chktime, (i, d) => {
                                $('<h3 id="text-' + i + "-" + item.st_id +
                                    '" data-toggle="tooltip1" title="วันที่เรียน: ' + d
                                    .learning_date + " เวลาเรียน: " + item.enroll
                                    .sj_enroll.sj_list.sj_6.sj_begin + "-" + item.enroll
                                    .sj_enroll.sj_list.sj_6.sj_finish + '">').appendTo(
                                    "#" +
                                    item.st_id +
                                    "")
                                stdchecklist(i, d, item)
                            })
                            $('</div></div>').appendTo(".grid-data-body")
                        }
                        if (item.enroll.sj_enroll.sj_list.sj_7.sj_id == sj) {
                            //console.log(item.st_id)
                            $('<div class="sj-chklist" style="display:none"><div class="std-chkid"><h6 data-toggle="tooltip1" title="' +
                                item.st_id + '">' + item.f_name + ' ' + item.l_name +
                                '</h6></div><div class="std-sj-chklist" id="' + item
                                .st_id + '">').appendTo(".grid-data-body")
                            $.each(item.enroll.sj_enroll.sj_list.sj_7.sj_chktime, (i, d) => {
                                $('<h3 id="text-' + i + "-" + item.st_id +
                                    '" data-toggle="tooltip1" title="วันที่เรียน: ' + d
                                    .learning_date + " เวลาเรียน: " + item.enroll
                                    .sj_enroll.sj_list.sj_7.sj_begin + "-" + item.enroll
                                    .sj_enroll.sj_list.sj_7.sj_finish + '">').appendTo(
                                    "#" +
                                    item.st_id +
                                    "")
                                stdchecklist(i, d, item)
                            })
                            $('</div></div>').appendTo(".grid-data-body")
                        }
                    })
                }

                $('.sj-chklist').fadeIn('slow')
                if ($('.grid-data-body').is(':empty')) {
                    $('<p id="selecttext" style="color:gray;margin-left:40%;margin-top:8%;font-size:5rem;display:none">ไม่มีข้อมูล</p>')
                        .appendTo('.grid-data-body')
                    $('#selecttext').fadeIn('slow')
                }
            },
        })
    }
</script>

</html>