<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/ddbad6351c.js" crossorigin="anonymous"></script>

    <title>ระบบจัดการ</title>
    <style>
        body {
            background-color: rgba(31, 31, 31, 1);
            color: white;
        }

        .table {
            color: white;
        }

        .modal-content {
            color: black;
        }

        #dropdown04 {
            color: white;
        }
    </style>
</head>

<body>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
        {% if messages %}
        {% for category,message in messages %}
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <!-- <strong>Title</strong> --> {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div align="center">
            <h1>ระบบจัดการ</h1>
            <hr>
            <button href="" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#modalcreate">เพิ่ม</button>
            <div id="modalcreate" class="modal fade" role="dialog" align="start">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">แบบฟอร์มบันทึกข้อมูล</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form action="/create" method="POST">
                                <div class="form-group">
                                    <label>รหัสนิสิต:</label>
                                    <input type="hidden" name="st_status" value="none">
                                    <input type="text" class="form-control" name="st_id" value="" require>
                                </div>
                                <div class="form-group">
                                    <label>ชื่อ:</label>
                                    <input type="text" class="form-control" name="fname" value="" require>
                                </div>
                                <div class="form-group">
                                    <label>นามสกุล:</label>
                                    <input type="text" class="form-control" name="lname" value="" require>
                                </div>
                                <div class="form-group">
                                    <label for="sel1">คณะ:</label>
                                    <select class="form-control" id="sel1" name="faculty">
                                        {% for getfac in shfaculty%}
                                        <option>{{getfac['fac_name']}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="sel1">สาขาวิชา:</label>
                                    <select class="form-control" id="sel1" name="branch">
                                        {% for getbr in shbranch %}
                                        <option>{{getbr['br_name']}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="sel1">ชั้นปี:</label>
                                    <select class="form-control" id="sel1" name="stlevel">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="sel1">ระดับความแม่นยำ:</label>
                                    <select class="form-control" id="sel1" name="level">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="dif"
                                        style="color:gray;">*ระดับความแม่นยำยิ่งสูงยิ่งเก็บจำนวนข้อมูลมาก</label><br>
                                    <button class="btn btn-primary btn-lg" type="submit">ส่ง</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">ปิด</button>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/training" class="btn btn-warning btn-xs">เรียนรู้</a>
            <a href="/detection" class="btn btn-success">ระบบตรวจจับ</a>
            <a href="/count" class="btn btn-dark btn-xs">นับรูป</a>
            <hr>
        </div>
        <table class="table table-bordered" style="text-align: center;">
            <thead>
                <tr>
                    <th>รหัสนิสิต</th>
                    <th>ชื่อ</th>
                    <th>นามสกุล</th>
                    <th>สถานะ</th>
                    <th>จัดการ</th>
                </tr>
            </thead>
            <tbody>
                {% for data in datas %}
                <tr>
                    <td>{{data["st_id"]}}</td>
                    <td>{{data["f_name"]}}</td>
                    <td>{{data["l_name"]}}</td>
                    <td>{{data["st_status"]}}</td>
                    <td>
                        <button href="" class="btn btn-success btn-xs" data-toggle="modal"
                            data-target="#modalsjtable{{data['st_id']}}">แสดงวิชา</button>
                        <button href="" class="btn btn-primary btn-xs" data-toggle="modal"
                            data-target="#modaleditstd{{data['st_id']}}">แก้ไข</button>
                        <a href="/delete/{{data['st_id']}}" class="btn btn-danger btn-xs"
                            onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่?')">ลบ</a>
                    </td>
                </tr>

                <div id="modaleditstd{{data["st_id"]}}" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">แบบฟอร์มจัดการข้อมูล</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form action="/updatestd" method="POST">
                                    <div class="form-group">
                                        <label>รหัสนิสิต:{{data["st_id"]}}</label>
                                        <input type="hidden" class="form-control" name="st_id"
                                            value="{{data["st_id"]}}">
                                    </div>
                                    <div class="form-group">
                                        <label>ชื่อ:</label>
                                        <input type="text" class="form-control" name="fname" value="{{data["f_name"]}}">
                                    </div>
                                    <div class="form-group">
                                        <label>นามสกุล:</label>
                                        <input type="text" class="form-control" name="lname" value="{{data["l_name"]}}">
                                    </div>
                                    <div class="form-group">
                                        <label>สถานะ:</label>
                                        <select class="form-control" id="sel1" name="st_status" require>
                                            <option selected disabled hidden>{{data["st_status"]}}</option>
                                            <option>none</option>
                                            <option>Checked</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-lg" type="submit">ส่ง</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary"
                                    data-dismiss="modal">ปิด</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% with getenroll = data['enroll'] %}
                {% with getsjenroll = getenroll['sj_enroll'] %}
                {% with getsjlist = getsjenroll['sj_list'] %}
                {% with bgColor = ['primary','success','info','warning','danger','secondary','dark'] %}
                <div id="modalsjtable{{data["st_id"]}}" class="modal fade" role="dialog"
                    style="user-select: none;font-weight:bold;">
                    <div class="modal-dialog modal-dialog-scrollable modal-xl">
                        <div class="modal-content" style="background-color: rgba(31, 31, 31, 1);color:white;">
                            <div class="modal-header">
                                <h4 class="modal-title">ตารางวิชา</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-10">
                                        <h3>รหัสนิสิต : {{data["st_id"]}}</h3>
                                        <h3>ชื่อ : {{data['f_name']}} {{data['l_name']}}</h3>
                                    </div>
                                    <div class="col-2">
                                        <center>
                                            <form action="/addsj" method="POST">
                                                <input type="hidden" name="st_id" value="{{data["st_id"]}}">
                                                <input type="hidden" name="st_fname" value="{{data["f_name"]}}">
                                                <input type="hidden" name="st_lname" value="{{data["l_name"]}}">
                                                <input type="hidden" name="fac_name" value="{{data["fac_name"]}}">
                                                <input type="hidden" name="level" value="{{data["st_level"]}}">
                                                <input type="hidden" name="branch" value="{{data["br_name"]}}">
                                                <button type="submit" class="btn btn-success btn-xs">
                                                    <i class="fas fa-plus"></i> เพิ่มวิชา</button>
                                            </form>
                                        </center>
                                    </div>
                                </div>
                                {% for i in getsjlist %}
                                {% with num = loop.index %}
                                {% with txtlist = 'sj_{}'.format(num) %}
                                {% with getsj = getsjlist[txtlist] %}
                                {% if getsj['sj_id'] == '-' %}
                                <div id="accordion">
                                    <div class="card bg-{{bgColor[num-1]}} text-white">
                                        <div class="card-header">
                                            <a style="text-align:start;">
                                                วิชาที่ {{num}}
                                                {{none}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div id="accordion">
                                    <div class="card bg-{{bgColor[num-1]}} text-white" data-toggle="collapse"
                                        href="#collapse{{num}}">
                                        <div class="card-header">
                                            <a style="text-align:start;">
                                                วิชาที่ {{num}}
                                                {{getsj['sj_id']}}
                                            </a>
                                        </div>
                                        <div id="collapse{{num}}" class="collapse show" data-parent="#accordion">
                                            <div class="row">
                                                <div class="col-5" style="background-color: rgba(31,31,31, 0.5);">
                                                    <div class="card-body text-white"
                                                        style="background-color: rgba(31,31,31, 0.5);width:100%;height:100%;">
                                                        <h6 style="text-align: center;">รายละเอียดวิชา</h6>
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col">
                                                                <p>รหัสวิชา : {{getsj['sj_id']}}</p>
                                                            </div>
                                                            <div class="col">
                                                                <p>ชื่อวิชา : {{getsj['sj_name']}}</p>
                                                            </div>
                                                            <div class="w-100"></div>
                                                            <div class="col">วันที่ : {{getsj['sj_date']}}</div>
                                                            <div class="col">เวลา :{{getsj['sj_begin']}} ถึง
                                                                {{getsj['sj_finish']}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-5" style="background-color: rgba(31,31,31, 0.5);">
                                                    <div class="card-body text-white"
                                                        style="background-color: rgba(31,31,31, 0.5);width:100%;height:100%;">
                                                        <h6 style="text-align: center;">การเข้าเรียน</h6>
                                                        <hr>
                                                        <div class="row">
                                                            <div class="col">
                                                                <p>เข้าเรียนล่าสุดวันที่ : none </p>
                                                            </div>
                                                            <div class="col">
                                                                <p>เวลา : none </p>
                                                            </div>
                                                            <div class="w-100"></div>
                                                            <div class="col">สาย : {{data['late']}} ครั้ง</div>
                                                            <div class="col">ขาดเรียน : {{data['absent']}} ครั้ง</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-2" style="background-color: rgba(31,31,31, 0.5);">
                                                    <div class="card-body text-white"
                                                        style="background-color: rgba(31,31,31, 0.5);width:100%;height:100%;">
                                                        <button class="btn btn-{{bgColor[num-1]}} btn-xs"
                                                            style="margin-top:30px;color:white;" href=""
                                                            data-toggle="modal"
                                                            data-target="#modalsjtable{{data['st_id']}}">ตารางสรุปผลการเข้าเรียน</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endwith %}
                                {% endwith %}
                                {% endwith %}
                                {% endfor %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary"
                                    data-dismiss="modal">ปิด</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endwith %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

    <!-- <div class="container">
        <hr>
        <div align="center">
            <h1>รายวิชา</h1>
            <hr>
            <button href="" class="btn btn-primary btn-xs" data-toggle="modal"
                data-target="#modaladdnewsj">เพิ่มรายวิชา</button>
        </div>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr style="text-align: center;">
                    <th>รหัสวิชา</th>
                    <th>ชื่อวิชา</th>
                    <th>วันที่เรียน</th>
                    <th>เริ่มเรียน</th>
                    <th>เลิกเรียน</th>
                    <th>จัดการ</th>
                </tr>
            </thead>
            <tbody>
                {% for getsj in shsj %}
                <tr>
                    <td>{{getsj["sj_id"]}}</td>
                    <td>{{getsj["sj_name"]}}</td>
                    <td>{{getsj["sj_date"]}}</td>
                    <td>{{getsj["sj_StartTime"]}}.00</td>
                    <td>{{getsj["sj_FinishTime"]}}.00</td>
                    <td style="text-align: center;">
                        <button href="" class="btn btn-primary btn-xs" data-toggle="modal"
                            data-target="#modaleditsj{{getsj['sj_id']}}">จัดการ</button>
                        <a href="/deletesj/{{getsj['sj_id']}}" class="btn btn-danger btn-xs"
                            onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่?')">ลบ</a>
                    </td>
                </tr>
                <div id="modaleditsj{{getsj['sj_id']}}" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">แบบฟอร์มแก้ไขรายวิชา</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form action="/updatesj" method="POST">
                                    <div class="form-group">
                                        <label>รหัสวิชา:</label>
                                        <input type="text" class="form-control" name="sj_id" value="{{getsj["sj_id"]}}"
                                            require>
                                    </div>
                                    <div class="form-group">
                                        <label>ชื่อวิชา:</label>
                                        <input type="text" class="form-control" name="sj_name"
                                            value="{{getsj["sj_name"]}}" require>
                                    </div>
                                    <div class="form-group">
                                        <label>วันที่เรียน:</label>
                                        <select class="form-control" id="sel1" name="sj_d" require>
                                            <option selected disabled hidden>{{getsj["sj_date"]}}</option>
                                            <option>Sun</option>
                                            <option>Mon</option>
                                            <option>Tue</option>
                                            <option>Wed</option>
                                            <option>Thu</option>
                                            <option>Fri</option>
                                            <option>Sat</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>เริ่มเรียน:</label>
                                        <input type="number" class="form-control" name="sj_stt" max="24" min="0"
                                            value="{{getsj["sj_StartTime"]}}" require>
                                    </div>
                                    <div class="form-group">
                                        <label>เลิกเรียน:</label>
                                        <input type="number" class="form-control" name="sj_fnt" max="24" min="0"
                                            value="{{getsj["sj_FinishTime"]}}" require>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-lg" type="submit">แก้ไข</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary"
                                    data-dismiss="modal">ปิด</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div> -->

    <!-- <div id="modaladdnewsj" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">แบบฟอร์มเพิ่มรายวิชา</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/newsj" method="POST">
                        <div class="form-group">
                            <label>รหัสวิชา:</label>
                            <input type="text" class="form-control" name="sj_id" value="" require>
                        </div>
                        <div class="form-group">
                            <label>ชื่อวิชา:</label>
                            <input type="text" class="form-control" name="sj_name" value="" require>
                        </div>
                        <div class="form-group">
                            <label>วันที่เรียน:</label>
                            <select class="form-control" id="sel1" name="sj_d" require>
                                <option>Sun</option>
                                <option>Mon</option>
                                <option>Tue</option>
                                <option>Wed</option>
                                <option>Thu</option>
                                <option>Fri</option>
                                <option>Sat</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>เริ่มเรียน:</label>
                            <input type="number" class="form-control" name="sj_stt" value="" max="24" min="0" require>
                        </div>
                        <div class="form-group">
                            <label>เลิกเรียน:</label>
                            <input type="number" class="form-control" name="sj_fnt" value="" max="24" min="0" require>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg" type="submit">เพิ่ม</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">ปิด</button>
                </div>
            </div>
        </div>
    </div> -->
</body>

</html>